// base
@import "partials/base"; 

//layout


//modules


//breakpoints
@import "partials/breakpoints"; 

body{
  @include rem(padding, 10px 10px 10px);
  @include rem(line-height,10px)
}

.main{
  @extend %clearfix;
  position:absolute;
  z-index:99;
}

footer{
  @extend %clearfix;
  height:50px;
}